* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{

    width:100%;
    height: 100%;
}


.bg{
    position: fixed;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main{
    display: flex;

/*    position: relative;
*/}


ul{
    display: flex;
    flex-direction: row;
    height:100px;
    position: absolute;
    top: 40%;
    left: 30%;
}

li.step{
    width: 2em;
      height: 2em;
      text-align: center;
      line-height: 2em;
      border-radius: 1em;
      background: pink;
      margin: 0 2em;
      color: white;
      position: relative;    
}

li::before{
  content: '';
  position: absolute;
  top: .9em;
  left: -4em;
  width: 6em;
  height: .2em;
  background: pink;
  z-index: -1;
}

li:first-child::before {
  display: none;
}

.active-step {
  background: pink;
  display: block;
  transition: 0.2s;
}

.active-step ~ li {
  background: lightblue;
}

.active-step ~ li::before {
  background: lightblue;
}

.question{
   display: none;
   flex-direction: column;
   background-color: lightgreen; 
   padding: 20px;
    position: absolute;
    top: 49%;
    left: 38%;
}

.active-question{
    display: flex;
}
/*display: flex;
    flex-direction:column;
    background: white;
    width: 500px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 30%;*/
#question1{
/*display: block;
*/}




/*Validation*/
input.valid {
    background-color: rgba(0,255,0, 0.5);
    border-color: green;
}

input.invalid {
    background-color: rgba(255,102,102, 0.3);
    border-color: red;
}

.invalid-message{
    color: red;
    font-weight: bold;
}

label {
    font-size: 1rem;
    padding: 0 0 0 3px;
    opacity: 1;
    transition: color ease-in-out .15s;
}

.error {
    border-color: red;
}

.error-message {
    color: red;
    font-style: italic;
    margin-bottom: 1em;
}
